# =========================
# IDE / OS (global)
# =========================
.idea/
.metals/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# sample1_HelloWorld
# =========================

# Node / npm
sample1_HelloWorld/node_modules/
sample1_HelloWorld/npm-debug.log*
sample1_HelloWorld/yarn-debug.log*
sample1_HelloWorld/yarn-error.log*
sample1_HelloWorld/pnpm-debug.log*

# Electron
sample1_HelloWorld/dist/
sample1_HelloWorld/out/

# Capacitor / Android（毎回生成するため丸ごと除外）
sample1_HelloWorld/android/

# APK / AAB / Signing
sample1_HelloWorld/**/*.apk
sample1_HelloWorld/**/*.aab
sample1_HelloWorld/**/*.keystore
sample1_HelloWorld/**/*.jks

# =========================
# sample2_Piano
# =========================

# Node / npm
sample2_Piano/node_modules/
sample2_Piano/npm-debug.log*
sample2_Piano/yarn-debug.log*
sample2_Piano/yarn-error.log*
sample2_Piano/pnpm-debug.log*

# Electron
sample2_Piano/dist/
sample2_Piano/out/

# Capacitor / Android（毎回生成するため丸ごと除外）
sample2_Piano/android/

# Python
sample2_Piano/www/sounds/env/
sample2_Piano/www/sounds/*.wav

# APK / AAB / Signing
sample2_Piano/**/*.apk
sample2_Piano/**/*.aab
sample2_Piano/**/*.keystore
sample2_Piano/**/*.jks



# =========================
# sample3_BowTie
# =========================

# Node / npm
sample3_BowTie/node_modules/
sample3_BowTie/model-ja/
sample3_BowTie/npm-debug.log*
sample3_BowTie/yarn-debug.log*
sample3_BowTie/yarn-error.log*
sample3_BowTie/pnpm-debug.log*

# voicevox
sample3_BowTie/voicevox

# Electron
sample3_BowTie/electron/node_modules/

# Capacitor / Android（This folder is generally excluded.）
sample3_BowTie/android/*

# Capacitor / Android（However, customized files are saved.）
!sample3_BowTie/android/app/src/main/AndroidManifest.xml
!sample3_BowTie/android/app/src/main/res/xml/network_security_config.xml

# --- main 以下の他のファイルは再度 ignore（必要に応じて追加） ---
sample3_BowTie/android/app/src/main/*
sample3_BowTie/android/app/src/main/res/xml/*

# Python
sample3_BowTie/backend/__pycache__/
sample3_BowTie/backend/env/
sample3_BowTie/backend/*.wav

# APK / AAB / Signing
sample3_BowTie/**/*.apk
sample3_BowTie/**/*.aab
sample3_BowTie/**/*.keystore
sample3_BowTie/**/*.jks

sample3_BowTie_bk/