# =========================
# IDE / OS (global)
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# sample1_HelloWorld
# =========================

# Node / npm
sample1_HelloWorld/node_modules/
sample1_HelloWorld/npm-debug.log*
sample1_HelloWorld/yarn-debug.log*
sample1_HelloWorld/yarn-error.log*
sample1_HelloWorld/pnpm-debug.log*

# Electron
sample1_HelloWorld/dist/
sample1_HelloWorld/out/

# Capacitor / Android（毎回生成するため丸ごと除外）
sample1_HelloWorld/android/

# APK / AAB / Signing
sample1_HelloWorld/**/*.apk
sample1_HelloWorld/**/*.aab
sample1_HelloWorld/**/*.keystore
sample1_HelloWorld/**/*.jks

# =========================
# sample2_Piano
# =========================

# Node / npm
sample2_Piano/node_modules/
sample2_Piano/npm-debug.log*
sample2_Piano/yarn-debug.log*
sample2_Piano/yarn-error.log*
sample2_Piano/pnpm-debug.log*

# Electron
sample2_Piano/dist/
sample2_Piano/out/

# Capacitor / Android（毎回生成するため丸ごと除外）
sample2_Piano/android/

# Python
sample2_Piano/www/sounds/env/
sample2_Piano/www/sounds/*.wav

# APK / AAB / Signing
sample2_Piano/**/*.apk
sample2_Piano/**/*.aab
sample2_Piano/**/*.keystore
sample2_Piano/**/*.jks
